.app-sidebar__user-avatar {
  width: 60px;
  /* height: 80px; */
  background: gray;
  padding: 6px;
}

.headerRegister, .header-primary {
  background: #009688;
  color: #fff;
}

.headerUpdate {
  background: #007bff;
  color: #fff;
}

.textcenter{
  text-align: center;
}

.textright{
  text-align: right;
}

.textleft{
  text-align: left;
}

.bootstrap-select>.dropdown-toggle {
  border: 1px solid #CCC;
}

/*Estilos Login*/
#divLoading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /*el display flex es para poder manipular el div que hay dentro de el */
  display: flex;
  justify-content: center;
  align-items: center;
  /*El .65 es para que tenga trasparencia*/
  background: rgba(245, 245, 255, .65);
  /*El es  z-index: 1; es para que se pocisione sobre todos los elementos*/
  z-index: 9999;
  display: none;
}

#divLoading img{
  width: 50px;
  height: 50px;
}

.required {
  color: red;
  font-size: 13pt;
  font-weight: bold;
}
/* Style foto portada categoria */
/* Nueva categoria */
.prevPhoto {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  border: 1px solid #CCC;
  position: relative;
  cursor: pointer;
  background: url(../images/uploads/portada_categoria.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
}
.prevPhoto label{
cursor: pointer;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
.prevPhoto img{
width: 100%;
height: 100%;
}
.upimg, .notBlock{
display: none !important;
}
.errorArchivo{
font-size: 16px;
font-family: arial;
color: #cc0000;
text-align: center;
font-weight: bold; 
margin-top: 10px;
}
.delPhoto{
color: #FFF;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 25px;
height: 25px;
background: red;
position: absolute;
right: -10px;
top: -10px;
z-index: 10;
}
#tbl_list_productos img{
width: 50px;
}
.imgProductoDelete{
width: 175px;
}
#imgCategoria{
  text-align: center;
}
#imgCategoria img{
  width: 200px;
  /* centra */
  margin: auto;
}